%h2
  Welcome to Rubytime, please sign in:
  
- form_for :session, :url => sessions_path, :html => {:class => :login} do |i|
  .item.clearfix
    = i.label :login
    = i.text_field :login

  .item.clearfix
    = i.label :password
    = i.password_field :password

  .item.clearfix
    = i.check_box :remember_me
    = i.label :remember_me

  .item
    = i.submit 'Log in', :class => :noLabel

%p
  Forgot your password?
  = link_to 'Click here', request_password_users_url
