%h2
  Welcome to Rubytime, please sign in:
  
- form_for :session, :url => sessions_path, :html => {:class => :login} do |i|
  .item.clearfix
    .label
      = i.label :login
    .input
      = i.text_field :login
  .item.clearfix
    .label
      = i.label :password
    .input
      = i.password_field :password
  .item.clearfix
    .label
      = i.label :remember_me
    .input
      = i.check_box :remember_me
      

  .item
    = i.submit 'Log in', :class => :no_label

%p
  Forgot your password?
  = link_to 'Click here', request_password_users_url
