- create_mode = @currency.new_record?

%h2
  = form_header(@currency)

- form_for :currency, :url => (create_mode ? currencies_url : currency_url(@currency)), :html => {:method => (create_mode ? :post : :put)} do |i|
  .item.clearfix
    .label
      = i.label :name
    .input
      = i.text_field :name
      = error_field(@currency, :name)
  .item.clearfix
    .label
      = i.label :plural
    .input
      = i.text_field :plural
      = error_field(@currency, :plural)
  .item.clearfix
    .label
      = i.label :symbol
    .input
      = i.text_field :symbol
      = error_field(@currency, :symbol)
  .item.clearfix.example
    .label
      Example
    .input
      = Rubytime::Util.format_currency(@currency, '45.99')
  .item.clearfix
    .label
      = i.label :prefix, 'Prefix?'
    .input
      = i.check_box :prefix
  .item.last
    = submit_tag((create_mode ? 'Create' : 'Save'), :class => :no_label)
