%tr{:class => row_class(employee_row_counter)}
  %td= user.name
  %td= (role = user.role) && role.name
  %td.active= verbalize(user.active)
  %td.actions
    = link_to image_tag('pencil.png'), edit_user_url(user)
    = link_to image_tag('cross.png'), user_url(user)
