%tr
  %td= activity.date
  %td= activity.user.name
  %td= activity.project.name
  %td= activity.time_spent
  %td.actions
    = link_to image_tag('pencil.png'), '#'
    = link_to image_tag('cross.png'), '#'
