%h2
  Filter

- form_tag activities_url, :method => :get do
  .item.clearfix
    .label
      = label_tag 'filter[user_id]', 'User'
    .input
      = select_tag 'filter[user_id]', options_from_collection_for_select(User.employees, :id, :name, @filter[:user_id].to_i)
  .item.clearfix
    .label
      = label_tag 'filter[project_id]', 'Project'
    .input
      = select_tag 'filter[project_id]', options_from_collection_for_select(@user.projects, :id, :name, @filter[:project_id].to_i)
  .item.clearfix.datepicker
    .label
      = label_tag 'filter[date][from]', 'from'
    .input
      = text_field_tag 'filter[date][from]', @filter[:date][:from], :readOnly => true
      = image_tag 'datepicker/cal.gif'
  .item.clearfix.datepicker
    .label
      = label_tag 'filter[date][to]', 'to'
    .input
      = text_field_tag 'filter[date][to]', @filter[:date][:to], :readOnly => true
      = image_tag 'datepicker/cal.gif'
  .item.clearfix
    .label
      Include
    .radiogroup
      .radio
        = radio_button_tag 'filter[include]', :all
        = label_tag 'filter[include][all]', 'All'
      .radio
        = radio_button_tag 'filter[include]', :invoiced
        = label_tag 'filter[include][invoiced]', 'Invoiced'
      .radio
        = radio_button_tag 'filter[include]', :not_invoiced
        = label_tag 'filter[include][not_invoiced]', 'Not invoiced'
  .item.last
    = submit_tag 'Submit', :class => :no_label
