%h2
  Filter

- form_for :filter, :url => search_activities_url, :html => {:method => :post, :id => nil, :class => nil} do |i|
  - if admin_or_client?
    .item.clearfix
      .label
        = i.label :user_id, 'User'
      .input
        = i.select :user_id, options_from_collection_for_select(@users, :id, :name, @filter.user_id.to_i), :include_blank => 'All users...'
  - if admin?
    .item.clearfix
      .label
        = i.label :client_id, 'Client'
      .input
        = i.select :client_id, options_from_collection_for_select(@clients, :id, :name, @filter.client_id.to_i), :include_blank => 'All clients...'

  .item.clearfix
    .label
      = i.label :project_id, 'Project'
    .input
      = i.select :project_id, options_from_collection_for_select(@projects, :id, :name, @filter.project_id.to_i), :include_blank => 'All projects...'
  .item.clearfix
    .label
      = i.label :period, 'Select period'
    .input
      = i.select :period, daterange_options(@filter.period), :include_blank => 'Select...'
  .item.clearfix
    .label
      = i.label :from, 'from'
    .input
      = i.text_field :from, :class => :datepicker, :readOnly => true
  .item.clearfix
    .label
      = i.label :to, 'to'
    .input
      = i.text_field :to, :class => :datepicker, :readOnly => true
  - if admin?
    .item.clearfix
      .label
        Include
      .radiogroup
        .radio
          = i.radio_button :invoice_filter, :all
          = i.label :invoice_filter_all, 'All'
        .radio
          = i.radio_button :invoice_filter, :invoiced
          = i.label :invoice_filter_invoiced, 'Invoiced'
        .radio
          = i.radio_button :invoice_filter, :not_invoiced
          = i.label :invoice_filter_not_invoiced, 'Not invoiced'
  .item.last
    = i.submit 'Submit', :class => :no_label
