- form_remote_for :activity, :url => activities_url do |i|
  .item.clearfix
    .label
      = i.label :user_id, 'User'
    .input
      = i.select :user_id, options_from_collection_for_select(User.all, :id, :name)
      = error_field(i, :user_id)
  .item.clearfix.datepicker
    .label
      = i.label :date
    .input
      = i.text_field :date
      = image_tag 'datepicker/cal.gif'
      = error_field(i, :date)
  .item.clearfix
    .label
      = i.label :project_id, 'Project'
    .input
      = i.select :project_id, options_from_collection_for_select(Project.all, :id, :name)
      = error_field(i, :project_id)
  .item.clearfix
    .label
      = i.label :time_spent
    .input
      = i.text_field :time_spent
      = error_field(i, :time_spent)
    .note.no_label
      e.g. 7:30
  .item.clearfix
    .label
      = i.label :comments
    .input
      = i.text_area :comments
      = error_field(i, :comments)
  .item.last
    = i.submit 'Add', :class => :no_label
    or
    = link_to 'Cancel', '#'
