- form_remote_for :activity, :url => activities_url do |i|
  .item.clearfix
    .label
      = i.label :user_id, 'User'
    .input
      = i.select :user_id, options_from_collection_for_select(User.all, :id, :name)
      = error_field(i, :user_id)
  .item.clearfix.datepicker
    .label
      = i.label :date
    .input
      = i.text_field :date
      = image_tag 'datepicker/cal.gif'
      = error_field(i, :date)
  .item.clearfix
    .label
      = i.label :project_id, 'Project'
    .input
      = i.select :project_id, options_from_collection_for_select(Project.all, :id, :name)
      = error_field(i, :project_id)
  .item.clearfix
    .label
      = i.label :time_spent
    .input
      = i.text_field :time_spent
      = error_field(i, :minutes)
    .note.noLabel
      e.g. 7:30, 7.5, or 7.5h for seven hours and thirty minutes; 0.5, .5h or 30m for half an hour
  .item.clearfix
    .label
      = i.label :comments
    .input
      = i.text_area :comments
      = error_field(i, :comments)
  .item.last
    = i.submit 'Add', :class => :noLabel
    or
    = link_to 'Cancel', '#'
