- group_by_clients = group(list) {|i| i.project.client}

.clients
  - group_by_clients.each_pair do |client, client_activities|
    .client[client]
      %h2
        Client:
        %span
          = client.name
      
      .projects
        - group_by_projects = group(client_activities) {|i| i.project}
        - group_by_projects.each_pair do |project, project_activities|
          .project[project]
            %h3
              Project:
              %span
                = project.name
            .roles
              - group_by_roles = group(project_activities) {|i| i.user.role}
              - group_by_roles.each_pair do |role, role_activities|
                .role[role]
                  %h4
                    Role:
                    %span
                      = role.name
                    - hr = project.hourly_rates.current(role)
                    = hr.nil? ? '(Hourly rate not defined!)' : "(Hourly rate: #{format_currency_hr(hr)})"
                  .users
                    - group_by_users = group(role_activities) {|i| i.user}
                    - group_by_users.each_pair do |user, user_activities|
                      .user[user]
                        %h4
                          = user.name
                            
                        %table.base
                          %tr
                            %th.first= check_box_tag :select_all, 1, false, :id => nil, :style => 'display: none'
                            %th Date
                            %th Time
                            %th.actions.ralign &nbsp;
                          = render :partial => 'row', :collection => user_activities, :as => :activity
                          %tr.total
                            %td.ralign{:colspan => 2}
                              Total:
                            %td.calign
                              - minutes = user_activities.inject(0) {|mem, i| mem + i.minutes}
                              = time_spent(minutes)
                            %td
                              value:
                              = format_currency(hr.currency, hr.value * minutes / 60.0)
