- group_by_clients = list.group {|i| i.project.client}

.clients
  - group_by_clients.each_pair do |client, client_activities|
    .client[client]
      %h2
        = image_tag 'client.png'
        Client:
        %span
          = client.name
      
      .projects
        - group_by_projects = client_activities.group {|i| i.project}
        - group_by_projects.each_pair do |project, project_activities|
          .project[project]
            %h3
              = image_tag 'project.png'
              Project:
              %span
                = project.name
            
            - if admin_or_client?
              = render :partial => 'roles', :locals => {:project_activities => project_activities, :project => project}
            - else
              = render :partial => 'table', :locals => {:user_activities => project_activities}
