- by_clients = list.group_by(&Activity::GROUP_BY_CLIENT_BLOCK)

%h2
  = "Total: #{total_value(list)}"
  
.clients
  - by_clients.each_pair do |client, client_activities|
    .client[client]
      %h2
        = image_tag 'client.png'
        Client:
        %span
          = client.name
      
      .projects
        - by_projects = client_activities.group_by(&Activity::GROUP_BY_PROJECT_BLOCK)
        - by_projects.each_pair do |project, project_activities|
          .project[project]
            %h3
              = image_tag 'project.png'
              Project:
              %span
                = project.name
            
            - if admin_or_client?
              = render :partial => 'roles', :locals => {:activities => project_activities}
            - else
              = render :partial => 'table', :locals => {:activities => project_activities}
