- user_id = @user && @user.id

.clearfix
  - options = {:class => :right}
  - options[:style] = 'display: none' unless admin_or_client?
  - form_tag calendar_activities_path, options do
    = hidden_field_tag :date, @date
    = select_tag :user_id, options_from_collection_for_select(@users, :id, :name, user_id)
    = submit_tag :ok
  %h1.left
    Calendar view
    
%table.calendar{:cellspacing => 1}
  %caption
    = link_to '<< Previous', calendar_activities_path(:date => @date.prev_month, :user_id => user_id)
    %span= @date.strftime('%B %Y')
    = link_to 'Next >>', calendar_activities_path(:date => @date.next_month, :user_id => user_id)
  %tr
    %th Mon
    %th Tue
    %th Wed
    %th Thu
    %th Fri
    %th Sat
    %th Sun
  
  - groups = @activities.group_by(&Activity::GROUP_BY_DATE_BLOCK)
  - 0.upto(@rows - 1) do |row|
    %tr
      - 0.upto(6) do |col|
        = render :partial => 'calendar_table_cell', :locals => {:row => row, :col => col, :groups => groups}

#activity_details.cell{:style => 'display: none'}

- if editor?
  #day_off_tag{:style => 'display: none'}
    = day_off_tag
    = revert_day_off_tag

  #activity_template{:style => 'display: none'}
    = render :partial => 'cell_activity', :locals => {:activity => Activity.new}
