.clearfix
  - form_tag calendar_activities_path, :class => :right do
    = select_tag :user_id, options_from_collection_for_select(User.employees, :id, :name, @user.id)
    = submit_tag :ok
  %h1.left
    Calendar view
 
%table.calendar{:cellspacing => 1}
  %caption
    = link_to '<< Previous', calendar_activities_path(:current => @current.last_month)
    %span= @current.strftime('%B %Y')
    = link_to 'Next >>', calendar_activities_path(:current => @current.next_month)
  %tr
    %th Mon
    %th Tue
    %th Wed
    %th Thu
    %th Fri
    %th Sat
    %th Sun
  
  - groups = group(@activities) {|i| i.date}
  - 0.upto(@rows) do |row|
    %tr
    - 0.upto(6) do |col|
      - day = @first_day.advance(:days => row * 7 + col + 1 - @first_day.wday)
      - activities = groups[day] || []
      - has_activity = !activities.empty?
      - classes = [:cell]
      - classes << :disabled unless (@first_day.month == day.month)
      - classes << :active if has_activity
      - classes << :weekend if col > 4
      %td{:class => classes.join(' ')}
        %p.day{:style => 'display: none'}
          = day.strftime('%Y-%m-%d')
        %p
          = day.mday
        .content{:style => 'display: none'}
          = render :partial => 'cell', :object => activities, :locals => {:activities => activities}

#activity_details.cell{:style => 'display: none'}

#activity_template{:style => 'display: none'}
  = render :partial => 'cell_activity', :locals => {:activity => Activity.new}
