.clearfix
  .side_form.filter
    = render :partial => 'filter'
  .left
    .listing.activities
      .clearfix
        - if admin_or_client?
          #activities_actions{:style => 'display: none'}
            = link_to 'hide users', '#'
            %span.divider
              |
            = link_to image_tag('csv.png'), export_activities_url(:format => :csv), :title => 'Export to CSV'
            %span.divider
              |
            = link_to image_tag('pdf.png'), export_activities_url(:format => :pdf), :title => 'Export to PDF'
        %h1.left
          List of activities
      #results
        - if @params_filter.nil?
          %h3
            Use filter form on the right to search activities
        - else
          = render :partial => 'results'
