= stylesheet_link_tag 'datepicker'
= stylesheet_link_tag 'main'

= javascript_include_tag 'artJs/com/arthwood/Initialize'
= javascript_include_tag 'artJs/com/arthwood/utils/Log'
= javascript_include_tag 'artJs/com/arthwood/events/Delegate'
= javascript_include_tag 'artJs/com/arthwood/utils/MathUtils'
= javascript_include_tag 'artJs/com/arthwood/utils/ObjectUtils'
= javascript_include_tag 'artJs/com/arthwood/utils/ArrayUtils'
= javascript_include_tag 'artJs/com/arthwood/utils/ClassUtils'
= javascript_include_tag 'artJs/com/arthwood/utils/StringUtils'
= javascript_include_tag 'artJs/com/arthwood/utils/DateUtils'
= javascript_include_tag 'artJs/com/arthwood/utils/ElementUtils'
= javascript_include_tag 'artJs/com/arthwood/utils/EventUtils'
= javascript_include_tag 'artJs/com/arthwood/events/DelegateCollection'
= javascript_include_tag 'artJs/com/arthwood/events/CustomEvent'
= javascript_include_tag 'artJs/com/arthwood/events/MouseController'
= javascript_include_tag 'artJs/com/arthwood/math/Point'
= javascript_include_tag 'artJs/com/arthwood/math/Rectangle'
= javascript_include_tag 'artJs/com/arthwood/dom/ElementBuilder'
= javascript_include_tag 'artJs/com/arthwood/dom/Selector'
= javascript_include_tag 'artJs/com/arthwood/events/Clock'
= javascript_include_tag 'artJs/com/arthwood/ui/DatePicker'
= javascript_include_tag 'artJs/com/arthwood/ui/Flash'
/= javascript_include_tag 'artJs/com/arthwood/data/List'
/= javascript_include_tag 'artJs/com/arthwood/data/Queue'
/= javascript_include_tag 'artJs/com/arthwood/events/QueuedClock'
= javascript_include_tag 'artJs/com/arthwood/net/Ajax'
/= javascript_include_tag 'artJs/com/arthwood/ui/containers/ModalBox'
= javascript_include_tag 'artJs/com/arthwood/tween/Fade'
= javascript_include_tag 'artJs/com/arthwood/Finalize'

= javascript_include_tag 'Application'
= javascript_include_tag 'NewActivity' if logged_in? && current_user.editor?

- if @c == 'activities' && @a != 'index'
  - mapping = {:calendar => 'ActivitiesCalendar', :missed => 'MissedActivities'}
  = javascript_include_tag "controllers/#{mapping[@a.to_sym]}"
- else
  = javascript_include_tag 'Resources'
  = javascript_include_tag "controllers/#{@c.capitalize}"
