= stylesheet_link_tag 'datepicker'
= stylesheet_link_tag 'main'

= javascript_include_tag 'art'
= javascript_include_tag 'Application'
= javascript_include_tag 'NewActivity' if logged_in? && current_user.editor?

- if @c == 'activities' && @a != 'index'
  - mapping = {:calendar => 'ActivitiesCalendar', :missed => 'MissedActivities'}
  = javascript_include_tag "controllers/#{mapping[@a.to_sym]}"
- else
  = javascript_include_tag 'Resources'
  = javascript_include_tag "controllers/#{@c.capitalize}"
