= stylesheet_link_tag 'datepicker'
= stylesheet_link_tag 'main'

= javascript_include_tag 'artJs/pl/arthwood/Initialize'
= javascript_include_tag 'artJs/pl/arthwood/utils/Log'
= javascript_include_tag 'artJs/pl/arthwood/events/Delegate'
= javascript_include_tag 'artJs/pl/arthwood/utils/MathUtils'
= javascript_include_tag 'artJs/pl/arthwood/utils/ObjectUtils'
= javascript_include_tag 'artJs/pl/arthwood/utils/ArrayUtils'
= javascript_include_tag 'artJs/pl/arthwood/utils/ClassUtils'
= javascript_include_tag 'artJs/pl/arthwood/utils/StringUtils'
= javascript_include_tag 'artJs/pl/arthwood/utils/DateUtils'
= javascript_include_tag 'artJs/pl/arthwood/events/DelegateCollection'
= javascript_include_tag 'artJs/pl/arthwood/events/Event'
= javascript_include_tag 'artJs/pl/arthwood/math/Point'
= javascript_include_tag 'artJs/pl/arthwood/math/Rectangle'
= javascript_include_tag 'artJs/pl/arthwood/dom/ElementBuilder'
= javascript_include_tag 'artJs/pl/arthwood/dom/ElementUtils'
= javascript_include_tag 'artJs/pl/arthwood/dom/Selector'
= javascript_include_tag 'artJs/pl/arthwood/events/Clock'
= javascript_include_tag 'artJs/pl/arthwood/ui/DatePicker'
= javascript_include_tag 'artJs/pl/arthwood/ui/Flash'
/= javascript_include_tag 'artJs/pl/arthwood/data/List'
/= javascript_include_tag 'artJs/pl/arthwood/data/Queue'
/= javascript_include_tag 'artJs/pl/arthwood/events/QueuedClock'
= javascript_include_tag 'artJs/pl/arthwood/net/Ajax'
/= javascript_include_tag 'artJs/pl/arthwood/ui/containers/ModalBox'
= javascript_include_tag 'artJs/pl/arthwood/tween/Fade'
= javascript_include_tag 'artJs/pl/arthwood/Finalize'
= javascript_include_tag 'MouseBoundaryCrossing'
= javascript_include_tag 'Helper'
= javascript_include_tag 'Application'
= javascript_include_tag 'NewActivity' if logged_in?

- if @c == 'activities' && @a == 'calendar'
  = javascript_include_tag "controllers/ActivitiesCalendar"
- else
  = javascript_include_tag 'Resources'
  = javascript_include_tag "controllers/#{@c.capitalize}"
