- if logged_in?
  - if admin?
    - case section
      - when :activities
        = submenu_link 'List', activities_url
        = submenu_link 'Calendar', calendar_activities_url
      - when :invoices
        = submenu_link 'All', '#'
        = submenu_link 'Issued', '#'
        = submenu_link 'Pending', '#'
      - when :manage
        = submenu_link 'Users', users_url
        = submenu_link 'Clients', clients_url
        = submenu_link 'Projects', projects_url
        = submenu_link 'Roles', roles_url
        = submenu_link 'Currencies', currencies_url
        = submenu_link 'Settings', settings_url
  - else
    = submenu_link 'List', activities_url
    = submenu_link 'Calendar', calendar_activities_url
