- if logged_in?
  - if current_user.admin
    - case section
      - when :activities
        = submenu_link 'List', activities_url
        = submenu_link 'Calendar', activities_url(:calendar => 1)
      - when :invoices
        = submenu_link 'All', invoices_url
        = submenu_link 'Issued', invoices_url(:filter => :issued)
        = submenu_link 'Pending', invoices_url(:filter => :pending)
      - when :manage
        = submenu_link 'Users', users_url
        = submenu_link 'Clients', clients_url
        = submenu_link 'Projects', projects_url
        = submenu_link 'Roles', roles_url
        = submenu_link 'Currencies', currencies_url
        = submenu_link 'Settings', settings_url
  - else
    = submenu_link 'List', activities_url
    = submenu_link 'Calendar', activities_url(:calendar => 1)
