!!! Strict
%html{ 'xmlns' =>'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'en' , 'lang' => 'en' }
  %head
    %meta{'http-equiv' => 'content-type', 'content'=>'text/html;charset=UTF-8'}/
    %title
      RubyTime
    
    - set_c_and_a
    
    = render :partial => 'layouts/assets'

  %body
    = js_env
    #main
      #header.clearfix
        .user_info
          = render :partial => 'layouts/user_info'
        = link_to(image_tag('logo.png'), root_url, :class => :logo)
      #menu.clearfix
        = render :partial => 'layouts/menu'
      - if logged_in? && editor?
        #activity{:style => 'display: none'}
          = render :partial => 'activities/form'
      #submenu
        = render :partial => 'layouts/submenu'
      #content
        = yield
      #footer
        = render :partial => 'layouts/footer'
      #flash{:style => 'display: none'}
        = render :partial => 'layouts/flash', :object => flash 
      = render :partial => 'layouts/calendar'
